<!-- Footer -->
  <footer class="col position-absolute bottom-0 left-0 pt-4 pb-4">
    <div class="text-center mt-4 copyright">
      <ul class="nav nav-footer justify-content-center">
        <li class="nav-item">
          Made with <span style="color: #e25555;">♥</span> by <a href="https://donneyfan.com">Donney
          Fan</a> &nbsp;|&nbsp; KVM VPS by <a href="https://evolution-host.com/vps-hosting.php">Evolution Host</a>
        </li>
      </ul>
    </div>
  </footer>

<!-- Campus Selector Modal -->
<div class="modal fade" id="campusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Choose a campus</h1>
      </div>
      <div class="modal-body text-center">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-campus="UBCV">UBC Vancouver</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-campus="UBCO">UBC Okanagan</button>
      </div>
    </div>
  </div>
</div>

<div id="notification" aria-live="polite" aria-atomic="true"></div>