
  <!-- Sidenav -->
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pb-0" href="/">
        <h1 class="text-primary" style="font-size: 1.75rem">UBCGrades</h1>
      </a>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="/">
                <h1 class="text-primary" style="font-size: 1.75rem">UBCGrades</h1>
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Navigation -->
        {% set active_page = active_page|default('index') %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if active_page == "index" %} active {% endif %}" href="{{ url_for('main.index') }}">
              <i class="far fa-chart-bar text-primary"></i>View Grades
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_page == "statistics_by_course" %} active {% endif %}" href="{{ url_for('main.statistics_by_course') }}">
              <i class="fas fa-user-graduate text-blue"></i>Statistics by Course
            </a>
          </li>
{#          <li class="nav-item">#}
{#              <a class="nav-link {% if active_page == "statistics_by_subject" %} active {% endif %}" href="{{ url_for('main.statistics_by_subject') }}">#}
{#                <i class="fas fa-chalkboard-teacher text-teal"></i>Statistics by Subject#}
{#              </a>#}
{#            </li>          #}
{#          <li class="nav-item">#}
{#            <a class="nav-link {% if active_page == "statistics_by_faculty" %} active {% endif %}" href="{{ url_for('main.statistics_by_faculty') }}">#}
{#              <i class="fas fa-school text-green"></i>Statistics by Faculty#}
{#            </a>#}
{#          </li>#}
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading text-muted">Support</h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
              <a class="nav-link" href="https://appseed.us/admin-dashboards/flask-boilerplate-dashboard-argon">
                <i class="fas fa-question-circle"></i> About
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/DonneyF/ubc-grades">
              <i class="fas fa-code"></i> Source Code
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://docs.appseed.us/admin-dashboards/flask-boilerplate-dashboard-argon/">
              <i class="fas fa-book"></i> API Reference
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

