{% extends "base_site.html" %}
{% set active_page = "statistics_by_course" %}
{% block title %} Statistics by Course {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block header_card %}
  <div class="card mb-2 mt-4">
    <!-- Card header -->
    <div class="card-header">
      <div class="row">
        <h1 class="mb-0 col">Statistics by Course</h1>
        <ul class="nav nav-pills d-none d-sm-flex" id="pills-tab" role="tablist">
          <li class="nav-item mr-2 mr-md-0">
            <a class="nav-link py-2 px-3 active" data-toggle="pill" href="#sc-dropdown-form" role="tab"
               aria-controls="pills-form" aria-selected="true">Dropdowns</a>
          </li>
          <li class="nav-item mr-2 mr-md-0">
            <a class="nav-link py-2 px-3" data-toggle="pill" href="#sc-id-form" role="tab"
               aria-controls="pills-id" aria-selected="false">Submit by ID</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Card body -->
    <div class="card-body">
      <!-- Form groups used in grid -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="sc-dropdown-form" role="tabpanel" aria-labelledby="sc-form-tab">
          <form class="row">
            <div class="col-lg col-sm-6">
              <select id="sc-drop-subject" data-toggle="select" data-placeholder="Subject"
                      class="mb-sm-2 form-control col"
                      required>
              </select>
            </div>
            <div class="col-lg col-sm-6">
              <select id="sc-drop-course" data-toggle="select" data-placeholder="Course"
                      class="mb-sm-2 form-control col"
                      required>
              </select>
            </div>
            <div class="col-lg-2 col-sm-6 mt-2 mt-lg-0 text-center">
              <button id="sc-dropdown-submit" class="submit-margin btn btn-block btn-xl btn-primary" type="submit">
                Submit
              </button>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="sc-id-form" role="tabpanel" aria-labelledby="sc-id-tab">
          <form class="row">
            <div class="col-lg col-6">
              <input type="text" class="form-control" placeholder="Ex: BIOL 112">
            </div>
            <div class="col-lg-2 col-6 text-center">
              <button id="sc-id-submit" class="submit-margin btn btn-xl btn-primary" type="submit">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}

  <div class="container mt--4 pb-6">
    <div class="collapse" id="content-container">
      <div class="row mb-4" id="sc-row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-gradient-lighter">
              <div class="row text-center">
                <div class="col">
                  <h3 class="mb-0 text-muted">UBCV MATH 101</h3>
                  <h2 class="mb-0">INT CALC AP PH S</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Course Information -->
              <div class="row" id="sc-headmatter">
                <div class="col">
                  <h5 class="text-uppercase text-muted ls-1 mb-1">Average (All Years)</h5>
                  <h2 class="mb-0">60.12</h2>
                </div>
                <div class="col">
                  <h5 class="text-uppercase text-muted ls-1 mb-1">Average (Past 5 years)</h5>
                  <h2 class="mb-0">60.12</h2>
                </div>
                <div class="col">
                  <h5 class="text-uppercase text-muted ls-1 mb-1">Max Section Average</h5>
                  <h2 class="mb-0">60.12</h2>
                </div>
                <div class="col">
                  <h5 class="text-uppercase text-muted ls-1 mb-1">Min Section Average</h5>
                  <h2 class="mb-0">60.12</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="text-white mb-0">Historical Averages</h2>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li id='five-years-toggle' class="nav-item mr-2 mr-md-0" data-toggle="chart"
                        data-target="#chart-course-avg-hist">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Past 5 Years</span>
                      </a>
                    </li>
                    <li id='all-years-toggle' class="nav-item" data-toggle="chart" data-target="#chart-course-avg-hist">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">All Years</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-course-avg-hist" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card shadow" id="teaching-team">
            <div class="card-header border-0">
              <h2 class="mb-0">MATH 101 Teaching Team</h2>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
              </table>
            </div>
            <div class="card-footer py-3">
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "site_template/footer.html" %}

  </div>

{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='assets/js/statistics-by-course.js') }}"></script>
{% endblock javascripts %}